<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=0.8, minimum-scale=0.8, maximum-scale=3" name="viewport" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta property="wb:webmaster" content="94ac822cd008c367" />
    <meta property="qc:admins" content="25314033056014654563671540352652" />
    <title>统一身份认证平台</title>
</head>
<script type="text/javascript">
    var getCodetips = "该用户尚未绑定手机号";
    var getCodeSuccesstips = "动态口令已发送到手机";
    var getCodeFailtips = "发送动态码失败";
    var GetDynamicCodetips = "获取动态码";
    var ReGetDynamicCodetips = "重新获取";
</script>

<link href="../static/css/login.css" rel="stylesheet">
<link href="../static/css/iCheck/custom.css" rel="stylesheet">

<body>
    <div class="auth_bg">
        <img src="../static/img/login-bg-autumn.jpg" alt="">
    </div>
    <div class="auth_page_wrapper">
        <div class="auth_logo"></div>
        <div class="auth_login_content">
            <div class="auth_login_right">
                <div class="auth_tab">
                    <div class="auth_tab_links">
                        <ul>
                            <li id="accountLogin" class="logintab selected" tabid="01"><span>哈工大本部</span></li>
                            <li>
                                <a href="#">
                                    威海校区
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    深圳校区
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfloat"></div>
                    <div class="auth_tab_content">
                        <p
                            style="padding:4px 4px 4px 4px;color: #FFB878;font-size: 12px;text-align:center;background: #FFF8EA;border: 1px solid #FFE0A5;">
                            <a target="_blank"
                                style="color:red;text-decoration:none;">注：2021级本科新生登录用户名为学号，初始密码为身份证号后8位；香港、澳门学生初始密码为香港、澳门身份证号（去除括号，保留括号内的数字或字母）；台湾学生初始密码为台湾居民往来大陆通行证号。密码内如有字母均为大写。</a>
                        </p>

                        <div tabid="01" class="auth_tab_content_item">
                            <form id="casLoginForm" class="fm-v clearfix amp-login-form" role="form" action="/login"
                                method="get">
                                <p>
                                    <i class="auth_icon auth_icon_user"></i>
                                    <input id="username" name="username" placeholder="用户名" class="auth_input"
                                        type="text" value="" />
                                    <span id="usernameError" style="display:none;" class="auth_error">请输入用户名</span>
                                </p>

                                <p>
                                    <i class="auth_icon auth_icon_pwd"></i>
                                    <input id="password" placeholder="密码" class="auth_input" type="password" value=""
                                        name="password" />
                                    <span id="passwordError" style="display:none;" class="auth_error">请输入密码</span>
                                </p>

                                <p>

                                    <input type="checkbox" name="rememberMe" id="rememberMe" /> <label
                                        onmousedown="javascript:$('.iCheck-helper').click();">一周内免登录</label>

                                    <a id="getBackPasswordMainPage" href="#" class="auth_login_forgetp">
                                        <small>忘记密码？</small>
                                    </a>
                                </p>
                                <p>
                                    <button type="submit" class="auth_login_btn primary full_width">登录
                                    </button>
                                </p>

                                <div>
                                    <div class="otherlogin">
                                        <span class="other_line1"></span>
                                        <span>您还可以使用以下方式登录</span>
                                        <span class="other_line2"></span>
                                    </div>
                                    <div class="other_icon">
                                        <a href="#" style="display: inline-block;">
                                            <img src="../static/img/qq.png" alt="logo" />
                                        </a>

                                        <a href="#" style="display: inline-block;">
                                            <img src="../static/img/weixin.png" alt="logo" />
                                        </a>

                                        <a href="#" style="display: inline-block;">
                                            <img src="../static/img/qrcode.png" alt="logo" />
                                        </a>

                                        </ul>
                                    </div>
                            </form>


                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td style="padding-left: 43px;"><img src="../static/img/hitfuwuhao.jpg" width="80"
                                            height="80">
                                        <div>哈工大服务号<br>&nbsp;</div>
                                    </td>
                                    <td style="padding-left: 12px;"><img src="../static/img/hitweixiaoyuan.png"
                                            width="80" height="80">
                                        <div>哈工大微校园<br>（企业微信）</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfloat"></div>
    <div class="auth_login_footer">
        <span> Copyright&nbsp;©&nbsp;2016 hit&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;</span>
    </div>
    </div>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/icheck.min.js"></script>
    <script type="text/javascript" src="../static/js/login.js?v=1.0"></script>
    <script type="text/javascript" src="../static/js/login-wisedu_v1.0.js"></script>

    <script type="text/javascript">
        selectLi($("#accountLogin"));
    </script>
</body>

</html>